# let git convert text files automatically
* text=auto

# force batch scripts to always use CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# force bash scripts to always use LF
*.sh text eol=lf

# declare common binary types in case git guesses wrongly
*.exe        binary
*.png        binary
*.jpg        binary
*.jpeg       binary
*.ico        binary
*.icns       binary
*.eot        binary
*.otf        binary
*.ttf        binary
*.woff       binary
*.woff2      binary

/git/gitattributes/**  linguist-language=gitattributes
